<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoSetupEn</key>
	<string>&quot;true&quot;</string>
	<key>SIM_AppKey</key>
	<string>c0cb77f01f33bb399f25d9c0e4f87700</string>
	<key>pushEnable</key>
	<string>&quot;true&quot;</string>
	<key>buildType</key>
	<string>DEV</string>
</dict>
</plist>
